*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
/* header css started  */
.main_header{
    height: 100px;
    width: 100%;
}
.main_navbar{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.first_navbar{

    display: flex;
    height: 40px;
    justify-content: space-between;
    background-image: linear-gradient(to left,rgb(0, 162, 255),rgb(48, 16, 121));
}
.first_navdiv{
    position: absolute;
    left: 25px;
    top: 10px;
    
}
.second_navdiv{
    position: absolute;
    right: 25px;
    top: 5px;
   
}
.second_navdiv a{
    color: white;
    font-size: 25px;
    letter-spacing: 15px;
    
    
}
.first_navdiv a{
    text-decoration: none;
    color: white;
    margin-left: 40px;

}
.second_navbar{
    display: flex;
    /* top: 40px;
    position: fixed; */
    height: 70px;
    width: 100%;
    z-index: 100;
    justify-content: space-around;
    background-image: linear-gradient(to right, blue,  rgb(17, 123, 194));
}
.second_navbar img{
    height: 70px;
    width: 100px;
}
.menu{
    width: 60%;
    display: flex;
    justify-content: space-around;
    
}
.menu a{
    color: white;
    margin-top: 25px;
    text-decoration: none;
} 
/* header css end */

.main_container{
    margin-top: 15px;
    display: grid;
    grid-template-areas: 
"mainbar mainbar"
"leftbar rightbar" 
"leftsecond rightbar ";
}
.first_container{
    grid-area: mainbar;
    height: 400px;
    background-color: rgb(202, 141, 66);
    width: 100%;
}
.second_container{
    grid-area: leftbar;
    border-radius: 10px;
    margin: 10px 20px;
    height: 200px;
    width: 50vw;
    background-color: rgb(14, 131, 92);

}

.forth_container{
    grid-area: leftsecond;
    border-radius: 10px;
    margin: 0px 20px;
    height: 200px;
    width: 50vw;
    background-color: rgb(14, 131, 92);
}
.hero_box1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 80px 0px 10px 20px;
}
.hero_box1 h1{
    font-size: 30px;
}
.hero_box1 p{
    font-size: 15px;
}
.hero_box1 button{
    font-size: 15px;
    width: 150px;
    cursor: pointer;
}
.button{
    margin-left: 80px;
}
.hero_box2{
    width: 50%;
    margin-left: 100px;
    background-image: radial-gradient(circle at 250px 300px, rgb(11, 23, 80) 250px, transparent 20px);
}
.hero_box2 img{
    height: 400px;
    width: 400px;
    margin-left: 50px;
}
/* login/signup css started */
.login{
    margin-top: 20px;
    /* border: 1px solid black; */
    height: 28px;
    width: 120px;
    
}
.login a{
    text-align: center;
    margin: auto 0;
    color: white;
    text-decoration: none;
}
/*login/sign css ended */

.first_container{
    display: flex;
}
/* thirdcontainer css started */

.third_container{
  grid-area: rightbar;
  position: relative;
  /* padding: 10px; */
  border-radius: 10px;
  margin:  auto;
  height: 350px;
  width: 40vw;
  margin: auto 20px;
  background-color: rgb(transparent);
  }
  .flipper {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
  }
  .flipper.flip {
      transform: rotateY(180deg);
  }
  .container1{
      height: 350px;
      padding: 50px;
      position: absolute;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      z-index: 11;
      width: 100%;
      border-radius: 10px;
      background-color: rgb(226, 209, 113);
  }
  .container1 h2{
      font-size: 30px;
      color: blueviolet;
  }
  .button{
      width: 250px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      right: 50px;
      border: none;
      
  }
  .button_btn{
      text-transform: uppercase;
      border: none;
      height: 40px;
  cursor: pointer;
      background-image: linear-gradient(blue, rgb(185, 22, 218));
      color: white;
      border-radius: 10px;
  }
  
  .container2{
      height: 350px;
      /* display: none; */
      color: white;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  z-index: 100;
  background-color: rgb(20, 56, 56);
  transform: rotateY(180deg);
  }
  .flipper.flipped {
      transform: rotateY(180deg);
  }
  #classes_grad{
    margin: 10px 110px;

  }
  .classbtn{
border: none;
width: 80px;
height: 20px;
color: white;
cursor: pointer;
border-radius: 10px;
box-shadow: 5px 5px  black;
background-image: linear-gradient(rgb(14, 38, 148), rgb(66, 219, 224));

  }
  .btn_submit{
    border: none;
    margin: 10px 70px;
width: 180px;
height: 20px;
color: white;
cursor: pointer;
border-radius: 10px;
background-image: linear-gradient(rgb(182, 11, 82), rgb(184, 24, 24));

  }
  /* tirtd_containre css end */


/* cirtificate generater css started  */
.certificate_container{
    background-color: rgb(133, 170, 170);
    margin: 10px;
    height: 500px;
    border: 2px dotted black;
    border-radius: 10px;
    

}

  .subject1{
    padding: px;
    margin: px;
   
  }
  
  .subject{
    padding: 2px;
    margin: 5px ;
    

  }
  #Hindi_10th{
    /* word-spacing: 50px; */
    margin-left: 67px;

  }
 
  #English_10th{
    /* word-spacing: 50px; */
    margin-left: 55px;

  }
 
  #Maths_10th{
    /* word-spacing: 50px; */
    margin-left: 65px;

  }
 
  #Science_10th{
    /* word-spacing: 50px; */
    margin-left: 55px;

  }
 
  #Socialscience_10th{
    /* word-spacing: 50px; */
    margin-left: 10px;

  }
 
  tr,td,th{
    border: 1px solid black;
    text-align: center;
  }
  .Grad_table{
    width: 90%;
    height: 200px;
    float: right;
  }
  .btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

  }
  
  
  .brand_container{
    background-color: rgb(113, 224, 224);
    border: 2px solid rgb(209, 55, 55);
    height: 300px;
}
.Review_container{
    background-color: rgb(113, 142, 224);
    border: 2px solid rgb(209, 55, 55);
    height: 300px;
}
.Review_container {
    /* border: 2px solid black; */
    height: 300px;
    display: flex;
  
  
  }
  
  .reviews img {
    height: 100px;
    width: 100px;
  
  }
  
  .reviews {
    margin: 20px;
    padding: 25px 25px;
    /* border: 2px solid rgb(7, 0, 0); */
    width: 30%;
    box-shadow: 3px 3px 3px 3px black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .brand_container{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;

  }
  .brand_container img{
    width: 150px;
    height: 150px;
    mix-blend-mode: darken;
   border: 1px solid black;
   border-radius: 20px;
  }
.outputdetails{
    display: flex;
    gap: 90px;
    padding: 20px 150px;
}